@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-bold uppercase;
  }
}

.h1 {
  @apply text-white text-7xl lg:text-[128px] tracking-[-3px];
}

.h2 {
  @apply text-[36px];
}

.h3 {
  @apply text-[32px];
}

.h4 {
  @apply text-[26px];
}

.h5 {
  @apply text-[22px];
}

.active {
  @apply text-red-600;
}

/* swiper pagination styles */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullets,
.swiper-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  @apply bg-accent;
} 